html{
    scroll-behavior: smooth;
}

#logo{
    text-align: center;
    background-color: darkgray;
    color: darkblue;
}

.nav-items{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.nav-item{
    font-size: large;
}

#about-me{
    display: flex;
    background-color: blue;
    height: 500px;
    width: 100%;
}